extends ../layouts/layout

block content
  .jumbotron
    h1 Loopback Google Passport Authentication
    
  .row
    .col-md-12
      h1 Authenticate Your Account With Google
      p.lead
          a.btn-lg.btn-primary(href="/auth/google") Login with Google
